# PROJECT 1

    1. Öncelikle gerekli kütüphanelerimizi import ediyoruz.

In [7]:
import pandas as pd
import numpy as np

    2. Daha sonra adların,soyadların, okul numaralarının, sınav puanlarının; sınav puanı bilgilerine bağlı olarak da elde edilen geçme kalma durumu ve harf notlarının toplanacağı listelerimizi oluşturduk.

In [8]:
ad_listesi = []
soyad_listesi = []
okul_no_listesi = []
sinav_puani_listesi = []
gecme_kalma_durumu = []
harf_notu = []

    3. "girdiler" isimli bir fonksiyon oluşturduk. Bu fonksiyon içerisine ad,soyad, okul numarası ve sınav puanının yazılacağı bir fonksiyon oldu. Fonksiyonun içerisinde de sınav puanına göre if döngüsü ile geçme kalma durumunun ve tekrardan bir if döngüsü ile harf notunun belirleneceği bir döngü oluşturduk. Bu döngülerin içerisine append metodunu da yerleştirerek not bilgisinden yola çıkarak geçme kalma durumunu gecme_kalma_durumu adlı listeye "Geçti" veya "Kaldı" olarak ekledik ve harf notunu da ilgili puan aralıklarına göre harf_notu listesine append metodu ile ekledik.
    En son kısımda ise fonksiyonumuzun içine yazmış olduğumuz ad, soyas, okul_no ve sinav_puani bilgilerimizi append metodu yardımıyla ad_listesi,soyad_listesi,okul_no_listesi,sinav_puani_listesi listelerine ekledik.

In [9]:
def girdiler(ad, soyad, okul_no, sinav_puani):
    if sinav_puani >= 60:
        gecme_kalma_durumu.append("Geçti")
        if (sinav_puani >= 90) & (sinav_puani <= 100):
            harf_notu.append("AA")
        elif (sinav_puani >= 82) & (sinav_puani <= 89):
            harf_notu.append("BA")
        elif (sinav_puani >= 73) & (sinav_puani <= 81):
            harf_notu.append("BB")
        elif (sinav_puani >= 65) & (sinav_puani <= 72):
            harf_notu.append("CB")
        elif (sinav_puani >= 57) & (sinav_puani <= 64):
            harf_notu.append("CC")
        elif (sinav_puani >= 48) & (sinav_puani <= 56):
            harf_notu.append("DC")
        elif (sinav_puani >= 40) & (sinav_puani <= 47):
            harf_notu.append("DD")
    else:
        gecme_kalma_durumu.append("Kaldı")
        harf_notu.append("FF")

    ad_listesi.append(ad)
    soyad_listesi.append(soyad)
    okul_no_listesi.append(okul_no)
    sinav_puani_listesi.append(sinav_puani)

    4."girdiler" fonksiyonumuzun içerisine gerekli bilgilerimizi girdik ve fonksiyonumuzu çalıştırdık.

In [10]:
girdiler("ayşe", "asasd", 4527, 61)
girdiler("ali", "asasd", 4527, 40)
girdiler("yasin", "asasd", 4527, 90)
girdiler("bahar", "adsasd", 483, 70)

    5. Fonksiyonumuzu çağırdıktan sonra ad listesine şöyle bir bakalım dedik. 1 sütun ve girdiler fonksiyonunun sayısı kadar satırı olan bir liste karşımıza çıktı.

In [16]:
ad_listesi

0     ayşe
1      ali
2    yasin
3    bahar
dtype: object

    6. Örnek olsun diye bir de soyad listemizi de çağıralım dedik. Burdan anlayacağımız üzere bu listeler bize 1 sütun ve girdiler satırlık birer liste olarak geliyor.

In [17]:
soyad_listesi

0     asasd
1     asasd
2     asasd
3    adsasd
dtype: object

    7. Bizlerden dataframe oluşturmamız istendi. Dataframe oluşturabilmek için listelerimizi pandas serilerine çeviriyoruz.

In [19]:
ad_listesi = pd.Series(ad_listesi)
soyad_listesi = pd.Series(soyad_listesi)
okul_no_listesi = pd.Series(okul_no_listesi)
sinav_puani_listesi = pd.Series(sinav_puani_listesi)
gecme_kalma_durumu = pd.Series(gecme_kalma_durumu)
harf_notu = pd.Series(harf_notu)

    8. Pandas serilerimiz de aynı listeler gibi 1 sütunlu girdiler satırlı bir yapıda.

In [26]:
ad_listesi

0     ayşe
1      ali
2    yasin
3    bahar
dtype: object

In [25]:
type(ad_listesi)

pandas.core.series.Series

    9.Oluşturduğumuz Pandas serileri 1 sütunlu girdiler satırlı bir yapıdan oluşmakta. Biz bu yapıları yan yana birleştirdiğimizde bir tablo haline gelmiş oluyorlar.Pandas serilerimizi concat metodu yardımı ile birleştirip bir tablo haline getiriyoruz.

In [12]:
puan_tablosu = pd.concat([ad_listesi, soyad_listesi, okul_no_listesi, sinav_puani_listesi, gecme_kalma_durumu, harf_notu], axis=1)

In [21]:
puan_tablosu

      Ad   Soyad  Okul No  Sınav puanı geçme-kalma durumu harf notu
0   ayşe   asasd     4527           61              Geçti        CC
1    ali   asasd     4527           40              Kaldı        FF
2  yasin   asasd     4527           90              Geçti        AA
3  bahar  adsasd      483           70              Geçti        CB

    10. Tablomuzu elde ettiğimize göre bu tabloyu DataFrame yapısı ile bir DataFrame'e çeviriyoruz.

In [13]:
df = pd.DataFrame(puan_tablosu)

    11. Tablomuza columns_ adlı bir liste tanımlıyoruz ve bu listenin içerisine her sütunumuz için almasını istediğimiz başlıklarımızı giriyoruz. columns metodu ile de DataFrameimize bu başlıkları ekliyoruz.

In [14]:
columns_ = ["Ad", "Soyad", "Okul No", "Sınav puanı", "geçme-kalma durumu", "harf notu"]
df.columns = columns_

In [27]:
type(columns_)

list

    12. Artık tablomuz hazır. İstediğimiz kadar girdiyi girdiler fonksiyonu yardımı ile bu tabloya ekleyebiliriz. Şimdi aşağıda bu tabloyu bilgisayarımızda istediğimiz kısma to_excel metodu ile excel dosyası olarak kaydediyoruz. sheet_name bizim excel sayfamızın adını, index=False ise tablomuzun en başında yer alan satır sayılarımızı yok etmekte.

In [15]:
sinav_notlari= df.to_excel("C:/Users/90538/Desktop/sınav_notları.xlsx", sheet_name="Matematik", index= False)

 ### KODUN FULL HALİ

In [23]:
import pandas as pd
import numpy as np

ad_listesi = []
soyad_listesi = []
okul_no_listesi = []
sinav_puani_listesi = []
gecme_kalma_durumu = []
harf_notu = []


def girdiler(ad, soyad, okul_no, sinav_puani):
    if sinav_puani >= 60:
        gecme_kalma_durumu.append("Geçti")
        if (sinav_puani >= 90) & (sinav_puani <= 100):
            harf_notu.append("AA")
        elif (sinav_puani >= 82) & (sinav_puani <= 89):
            harf_notu.append("BA")
        elif (sinav_puani >= 73) & (sinav_puani <= 81):
            harf_notu.append("BB")
        elif (sinav_puani >= 65) & (sinav_puani <= 72):
            harf_notu.append("CB")
        elif (sinav_puani >= 57) & (sinav_puani <= 64):
            harf_notu.append("CC")
        elif (sinav_puani >= 48) & (sinav_puani <= 56):
            harf_notu.append("DC")
        elif (sinav_puani >= 40) & (sinav_puani <= 47):
            harf_notu.append("DD")
    else:
        gecme_kalma_durumu.append("Kaldı")
        harf_notu.append("FF")

    ad_listesi.append(ad)
    soyad_listesi.append(soyad)
    okul_no_listesi.append(okul_no)
    sinav_puani_listesi.append(sinav_puani)



girdiler("ayşe", "asasd", 4527, 61)
girdiler("ali", "asasd", 4527, 40)
girdiler("yasin", "asasd", 4527, 90)
girdiler("bahar", "adsasd", 483, 70)
################################################################################

ad_listesi = pd.Series(ad_listesi)
soyad_listesi = pd.Series(soyad_listesi)
okul_no_listesi = pd.Series(okul_no_listesi)
sinav_puani_listesi = pd.Series(sinav_puani_listesi)
gecme_kalma_durumu = pd.Series(gecme_kalma_durumu)
harf_notu = pd.Series(harf_notu)
################################################################################

puan_tablosu = pd.concat([ad_listesi, soyad_listesi, okul_no_listesi, sinav_puani_listesi, gecme_kalma_durumu, harf_notu], axis=1)

df = pd.DataFrame(puan_tablosu)
################################################################################

columns_ = ["Ad", "Soyad", "Okul No", "Sınav puanı", "geçme-kalma durumu", "harf notu"]
df.columns = columns_

################################################################################
df.head()
################################################################################

sinav_notlari= df.to_excel("C:/Users/90538/Desktop/sınav_notları.xlsx", sheet_name="Matematik", index= False)